<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="/admin">管理者後台</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% ["work", "tag", "user"].each do |singular_name| %>
      <li class="nav-item <%= 'active' if controller_name == singular_name.pluralize %>">
        <a class="nav-link" href="/admin/<%= singular_name.pluralize %>"><%= singular_name.titleize.constantize.model_name.human %>管理<span class="sr-only">(current)</span></a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/">回到網站首頁</a>
      </li>
    </ul>
    <% if @q.present? %>
      <%= search_form_for [:admin, @q], class: "form-inline my-2 my-lg-0" do |f| %>
        <!-- Attributes may be chained. Search multiple attributes for one value... -->
        <%#= f.label :title_or_tags_name_or_contents_html_cont %>
        <%= f.search_field @search_param, placeholder: "關鍵字", class: "form-control mr-sm-2" %>

        <%= f.submit "搜尋", class: "btn btn-secondary my-2 my-sm-0" %>
      <% end %>
    <% end %>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="s">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜尋</button>
    </form> -->
    <% if user_signed_in? %>
      <ul class="navbar-nav ml-lg-5">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "設定", edit_admin_user_path(current_user), class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "登出", admin_logout_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
        <li class="nav-item active">
        </li>
      </ul>
    <% end %>
  </div>
</nav>