<%= render "common/header" %>
<div class="content barba-container content-loading" data-namespace="single-works">
  <div class="single-work-content">
    <div class="single-work-card single-work-card-hide">
      <div class="work-block">
        <div class="work-image"><%= image_tag @work.cover_or_default %></div>
        <div class="work-des">
          <% if @work.category.present? %>
            <p>#<%= @work.number.to_s.rjust(2, '0') %> / <%= @work.category %> work</p>
          <% end %>
          <%= simple_format @work.title, class: "work-title" %>
          <% if @work.top_tags.present? %>
            <div class="work-tags">
              <% @work.top_tags.split(",").each do |top_tag| %>
                <p>#<%= raw top_tag %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="single-work single-work-hide">
      <div class="single-work-main-img"><%= image_tag @work.cover_or_default %></div>
      <div class="single-work-text-box">
        <div class="single-work-tags">
          <% if @work.category.present? %>
            <div class="tag-company">
              <p><%= @work.category %> work</p>
            </div>
          <% end %>
          <% if @work.work_date.present? %>
            <div class="tag-hashtags">
              <p class="work-year"><%= @work.work_date %></p>
            </div>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <% if @work.number.present? %>
          <div class="single-work-number">
            <p><%= @work.number %></p>
          </div>
        <% end %>
        <% if @work.title.present? %>
          <div class="single-work-title"> 
            <%= simple_format @work.title %>
          </div>
        <% end %>
        <div class="clearfix"></div>
        <div class="divider bg-black"></div>
        <div class="single-work-text">
          <% if @contents.present? %>
            <% @contents.each do |content| %>
              <p class="paragraph-title"><%= raw content.processed_html %></p>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @contents.present? %>
        <% @contents.each do |content| %>
          <% if content.img? %>
            <%= image_tag content.image, class: "paragraph-image" %>
          <% elsif content.embed? %>
            <div class="<%= content.embed_html_klass %>">
              <%= raw content.html %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>