<%%= form_with model: [:admin, <%= model_resource_name %>], local: true do |f| %><% attributes_names.map do |name| %>
  <div class="form-group">
    <%%= f.label :<%= name %> %>
    <%%= f.text_field :<%= name %>, class: "form-control #{<%= model_resource_name %>.errors[:<%= name %>].present? ? 'is-invalid' : ''}" %>
    <%% if <%= model_resource_name %>.errors[:<%= name %>].present? %>
	    <div class="text-danger">
	      <%%= <%= model_resource_name %>.errors[:<%= name %>].join(", ") %>
	    </div>
    <%% end %>
  </div><% end %>
  <%%= link_to "放棄", admin_<%= plural_table_name %>_path, class: "btn btn-link text-danger" %>
  <%%= f.submit "儲存", class: "btn btn-primary float-right" %>
<%% end %>