<%= render "header" %>
<div class="content barba-container content-loading" data-namespace="about">
  <%= render "mobile_nav" %>
  <div class="about-content">
    <div class="creative-production-block"><img class="creative-img-hide" src="<%= asset_path('about-adv1.png') %>">
      <div class="about-content-info creative-production-info creative-production-info-hide"><span>Advantage 1</span>
        <p class="about-title">Creative & Production</p>
        <p>It is not the traditional dual antithesis.It is two commentary to always, flexibly deliver results tailored plements rooting form two poles respectively, balfor the needs of every project. ancing but not weakening each other. </p><a href="/works">WORKS >></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="creative-production-triangle"></div>
    <div class="strategy-block">
      <div class="about-content-info strategy-info strategy-info-hide"><span>Advantage 2</span>
        <p class="about-title">Strategy & Insight</p>
        <p>It is not the traditional dual antithesis.It is two commentary to always, flexibly deliver results tailored plements rooting form two poles respectively, balfor the needs of every project. ancing but not weakening each other. </p>
      </div><img class="strategy-img-hide" src="<%= asset_path('strategyBG.png') %>"><img class="strategy-flake strategy-flake-hide" src="<%= asset_path('strategyBG-flake.svg') %>">
      <div class="clearfix"></div>
    </div>
    <div class="performance-block">
      <div class="performance-triangle"></div>
      <div class="about-content-info performance-info performance-info-hide"><span>Advantage 3</span>
        <p class="about-title">Distribution & Preformance</p>
        <p>It is not the traditional dual antithesis.It is two commentary to always, flexibly deliver results tailored plements rooting form two poles respectively, balfor the needs of every project. ancing but not weakening each other. </p>
      </div><img class="performance-img-hide" src="<%= asset_path('performanceBG.png') %>">
      <div class="clearfix"></div>
    </div>
    <div class="team-block">
      <div class="about-content-info team-info team-info-hide"><span>Advantage 4</span>
        <p class="about-title">Young</p>
        <p class="about-title">Powerful Team</p>
        <p>It is not the traditional dual antithesis.It is two commentary to always, flexibly deliver results tailored plements rooting form two poles respectively, balfor the needs of every project. ancing but not weakening each other. </p><a href="/members">MEMBERS >></a>
      </div>
      <div class="team-img team-img-hide"><img src="<%= asset_path('teamBG.png') %>"></div>
    </div>
    <footer>
      <div class="footer-sitemap">
        <ul>
          <li><a href="/works">Works</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </div>
      <div class="footer-subscription">
        <p class="font-white">Subscribe</p>
        <div class="subscription-box">
          <input class="sub-email" type="email" value="">
          <button class="sub-submit" type="submit" value="">OK</button>
        </div>
        <div class="footer-social"><a class="f-social-facebook"><svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 29.99"><title>f-social-fb</title><path class="f-cls-1" d="M30,7a9.19,9.19,0,0,0-.15-1.61,6.56,6.56,0,0,0-.61-1.87A6.49,6.49,0,0,0,28,1.87,6.19,6.19,0,0,0,25.23.32,10.92,10.92,0,0,0,22.35,0H7.64A15.7,15.7,0,0,0,6,.08a7.87,7.87,0,0,0-1.76.4A6.21,6.21,0,0,0,1.88,2,6.19,6.19,0,0,0,.32,4.75,11,11,0,0,0,0,7.61V22.37H0a14.17,14.17,0,0,0,.14,2,6.92,6.92,0,0,0,.61,2,6.46,6.46,0,0,0,1.8,2.18,5.86,5.86,0,0,0,1.8,1,9.77,9.77,0,0,0,3,.44H16V20H12.62V15.93H16V13.07s-0.25-4.8,4.47-5.14H24v3.65H21.44a1.65,1.65,0,0,0-1.29,1.25v3.1h3.72l-0.42,3.86H20.09V30h2.84a10.79,10.79,0,0,0,1.8-.19,6.09,6.09,0,0,0,3-1.47,6.25,6.25,0,0,0,2-3.32A12.1,12.1,0,0,0,30,22.37V7Z" transform="translate(0 -0.01)"/></svg></a><a class="f-social-youtube"><svg id="Layer_4" data-name="Layer 4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.33 25"><title>f-social-yt</title><path class="f-cls-1" d="M33,5.39a8,8,0,0,0-1.33-3.53A4.6,4.6,0,0,0,28.33.36C23.67,0,16.67,0,16.67,0h0S9.67,0,5,.36a4.6,4.6,0,0,0-3.35,1.5A8,8,0,0,0,.33,5.39,57.21,57.21,0,0,0,0,11.14v2.7a57.17,57.17,0,0,0,.33,5.75,8,8,0,0,0,1.32,3.53,5.44,5.44,0,0,0,3.67,1.52C8,24.91,16.65,25,16.65,25s7,0,11.67-.37a4.63,4.63,0,0,0,3.34-1.51A8,8,0,0,0,33,19.6a57.22,57.22,0,0,0,.33-5.75v-2.7A57.22,57.22,0,0,0,33,5.39ZM12.5,18.75V6.25l10.42,6.21Z"/></svg></a><a class="f-social-instagram"><svg id="Layer_5" data-name="Layer 5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>f-social-ins</title><path class="f-cls-1" d="M15,9.11A5.89,5.89,0,1,0,20.88,15s0,0,0,0A5.89,5.89,0,0,0,15,9.11Z" transform="translate(0 0.04)"/><path class="f-cls-1" d="M21.92,0H8.07A8.08,8.08,0,0,0,0,8V22a8.08,8.08,0,0,0,8.07,8H21.92A8.08,8.08,0,0,0,30,22V8.07A8.08,8.08,0,0,0,22,0h0ZM15,24a9,9,0,1,1,9-9A9,9,0,0,1,15,24Zm9.88-16.6A2.22,2.22,0,1,1,27.1,5.13a2.22,2.22,0,0,1-2.22,2.23h0Z" transform="translate(0 0.04)"/></svg></a></div>
      </div>
      <div class="footer-copyright">
        <p class="font-white">© SHIFT 2018 Handcrafted with hard work and love by us</p>
      </div>
      <div class="clearfix"></div>
    </footer>
    <div class="social-menu">
      <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="lines"></span></button>
      <div class="social-share"><a href="#">Facebook</a><a href="#">Instagram</a></div>
    </div>
    <%= render "chat" %>
  </div>
</div>