<%= render "header" %>
<div class="content barba-container content-loading" data-namespace="home">
  <%= render "mobile_nav" %>
  <div class="index-content">
    <section class="new-work-wrap">
      <h2 class="font-white">LATEST WORK</h2>
      <div class="divider bg-white"></div><a class="new-work font-black" href="/works">
        <div class="new-work-image"><img src="<%= asset_path('new-work.png') %>"></div>
        <div class="new-work-des">
          <div class="new-work-des-top"><span class="new-work-serial">#07</span>/<span class="new-work-tag">SHIFT Work</span></div>
          <div class="new-work-des-bottom">
            <p class="new-work-title">3M Post-it Online Advertising</p>
          </div>
        </div></a><a class="new-work font-black" href="/works">
        <div class="new-work-image"><img src="<%= asset_path('new-work.png') %>"></div>
        <div class="new-work-des">
          <div class="new-work-des-top"><span class="new-work-serial">#08</span>/<span class="new-work-tag">SHIFT Work</span></div>
          <div class="new-work-des-bottom">
            <p class="new-work-title">4M Tap-it Offline Advertising</p>
          </div>
        </div></a><a class="see-more font-blue">see more >></a><a class="new-work-box"><span class="new-work-button"></span></a>
    </section>
    <section class="c-info">
      <div class="c-info-box">
        <p class="font-black">Average Age</p>
        <div class="c-info-number" name="age"><span class="font-white">25</span></div>
      </div>
      <div class="c-info-box">
        <p class="font-black">Works</p>
        <div class="c-info-number" name="works"><span class="font-white">61</span></div>
      </div>
      <div class="c-info-box">
        <p class="font-black">Cooperations</p>
        <div class="c-info-number" name="coop"><span class="font-white">22</span></div>
      </div>
    </section>
    <div class="social-menu">
      <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="lines"></span></button>
      <div class="social-share"><a href="#">Facebook</a><a href="#">Instagram</a></div>
    </div>
    <%= render "chat" %>
    <div class="copyright">
      <p>© SHIFT 2018 Handcrafted with hard work and love by us</p>
    </div>
  </div>
</div>