<div class="content barba-container content-loading" data-namespace="home">
  <%= render "common/mobile_nav" %>
  <div class="index-content">
    <section class="new-work-wrap">
      <h2 class="font-white">LATEST WORK</h2>
      <div class="divider bg-white"></div>
      <% @latest_works.each do |work| %>
        <%= link_to work_path(work), class: "new-work font-black" do %>
          <div class="new-work-image"><%= image_tag work.cover_thumbnail_or_default %></div>
          <div class="new-work-des">
            <div class="new-work-des-top"><span class="new-work-serial">#<%= work.number.to_s.rjust(2, '0') %></span>/<span class="new-work-tag"><%= work.category %> Work</span></div>
            <div class="new-work-des-bottom">
              <p class="new-work-title"><%= work.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <a class="see-more font-blue">see more >></a><a class="new-work-box"><span class="new-work-button"></span></a>
    </section>
    <section class="c-info">
      <div class="c-info-box">
        <p class="font-black">Average Age</p>
        <div class="c-info-number" name="age"><span class="font-white" data-value="25">25</span></div>
      </div>
      <div class="c-info-box">
        <p class="font-black">Works</p>
        <div class="c-info-number" name="works"><span class="font-white" data-value="<%= Work.publish.size %>"><%= Work.publish.size %></span></div>
      </div>
      <div class="c-info-box">
        <p class="font-black">Cooperations</p>
        <div class="c-info-number" name="coop"><span class="font-white" data-value="<%= Tag.member.size %>"><%= Tag.member.size %></span></div>
      </div>
    </section>
    <%= render "common/social_and_chat" %>
    <div class="copyright">
      <p>© SHIFT 2018 Handcrafted with hard work and love by us</p>
    </div>
  </div>
</div>