<div class="content barba-container content-loading" data-namespace="works">
  <%= render "common/mobile_nav" %>
  <div class="works-content">
    <section class="works-map-wrapper">
      <div class="works-map">
        <div class="preview-wrapper">
          <% x = Work.x(params[:n]) %>
          <% if x > 0 %>
            <% @works.each_slice(x) do |x_works| %>
              <% x_works.each do |work| %>
                <a class="work-block work-block-hide" data-work-id="<%= work.id %>">
                  <div class="work-image"><%= image_tag work.cover_or_default %></div>
                  <div class="work-des">
                    <p>#<%= work.number %> / SHIFT work</p>
                    <%= simple_format work.title, class: "work-title" %>
                    <% if work.top_tags.present? %>
                      <div class="work-tags">
                        <% work.top_tags.split(",").each do |top_tag| %>
                          <span>#<%= raw top_tag %></span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </a>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </section><a class="work-nav-arrow"></a>
    <div class="works-nav work-nav-hide">
      <div class="works-category-filer"><span class="font-black"><%= params[:tag].present? ? "##{params[:tag]}" : "ALL" %></span></div>
      <% if Tag.find_by_name(params[:tag]).try(:icon).try(:attached?) %>
        <div class="works-nav-img">
          <%= image_tag Tag.find_by_name(params[:tag]).icon %>
        </div>
      <% end %>
      <ul class="works-category accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item category-all"><a class="accordion-title" href="/works">ALL</a></li>
        <% if Tag.shift.size > 0 %>
          <li class="accordion-item" data-accordion-item><a class="accordion-title" href="#">SHIFT</a>
            <div class="accordion-content" data-tab-content>
              <% Tag.shift.order(name: :asc).each do |shift_tag| %>
                <%= link_to "##{shift_tag.name}", works_path(tag: shift_tag.name), data: { tag: "##{shift_tag.name}" } %>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if Tag.cooperation.size > 0 %>
          <li class="accordion-item" data-accordion-item><a class="accordion-title" href="#">COOPERATIONS</a>
            <div class="accordion-content" data-tab-content>
              <% Tag.cooperation.order(name: :asc).each do |cooperation_tag| %>
                <%= link_to "##{cooperation_tag.name}", works_path(tag: cooperation_tag.name), data: { tag: "##{cooperation_tag.name}" } %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <button class="map-more-top"></button>
    <button class="map-more-right"></button>
    <button class="map-more-down"></button>
    <button class="map-more-left"></button>
    <div class="social-menu">
      <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="lines"></span></button>
      <div class="social-share"><a href="#">Facebook</a><a href="#">Instagram</a></div>
    </div>
    <%= render "common/chat" %>
  </div>
  <div class="single-work-box"><a class="single-work-close"></a>
    <div class="work-overlay"></div>
    <div class="single-work-loader"></div>
  </div>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script async defer src="//www.instagram.com/embed.js"></script>