<%= stylesheet_link_tag 'frontend/foundation', media: 'all' %>
<%= stylesheet_link_tag 'frontend/styles', media: 'all' %>
<%= form_with(model: [:admin, @post], local: true, class: "mb-5") do |f| %>
  <div class="single-work-content">
  	<div class="single-work" id="form_content">
      <div class="single-work-main-img"><img src="http://via.placeholder.com/1400x788/333.jpg"></div>
      <div class="single-work-text-box">
        <div class="single-work-tags">
          <div class="tag-company" style="width: 50%;">
            <p><%= f.select :category, ["SHIFT", "COOPERATION"], {}, class: "form-control d-inline-block pr-0", style: "max-width: 145px; font-size: 18px; color: #2c2824;", onchange: "javascript:adaptSelectWidth(this)" %> work</p>
          </div>
          <script type="text/javascript">
            function adaptSelectWidth(select) {
              if (select.value === "SHIFT") {
                select.style.maxWidth = '70px'
              } else if (select.value === "COOPERATION") {
                select.style.maxWidth = '145px'
              }
            }
          </script>
          <div class="clearfix"></div>
        </div>
        <div class="single-work-title"> 
          <p><%= f.text_area :title, placeholder: "文章標題", class: "border-0 link-no-decoration w-100 mb-0 p-0", id: "article_title", rows: 1, required: true %></p>
        </div>
        <div class="single-work-number">
          <p><%= f.text_area :number, class: "border-0 link-no-decoration mb-0 p-0 text-right float-right", style: "max-width: 180px;", rows: 1, required: true %></p>
        </div>
        <div class="clearfix"></div>
        <div class="divider bg-black"></div>
        <div class="single-work-text">
      		<%= f.fields_for :contents, @post.contents.order(ordering: :asc) do |content_form| %>
            <%= render "admin/contents/form", content_form: content_form %>
      		<% end %>
        </div>
      </div>
  	</div>
  </div>
  <div class="mt-5" id="post_buttons_wrapper">
    <%= render "cke_toolbar_template" %>
    <%= render "embed_button_template" %>
    <a href="javascript:void(0)" class="text-success link-no-decoration" id="add_new_block_btn" data-toggle="modal" data-target="#newElementModal" style="font-size: 60px">+</a>
    <%= f.button class: "btn btn-primary" do %>
      <i class="material-icons">&#xE161;</i>
    <% end %>
    <%= link_to admin_posts_path, class: "btn btn-warning", id: "btn-back", data: { confirm: "您的變更將不會儲存，確定離開？" } do %>
      <i class="material-icons">&#xE5C9;</i>
    <% end %>
  </div>
<% end %>

<%= render "edit_helpers" %>