<%= stylesheet_link_tag 'frontend/foundation', media: 'all' %>
<%= stylesheet_link_tag 'frontend/styles', media: 'all' %>
<%= form_with(model: [:admin, @post], local: true, class: "mb-5") do |f| %>
  <div class="single-work-content">
  	<div class="single-work" id="form_content">
      <div class="single-work-main-img"><img src="<%= asset_path('work1.png') %>"></div>
      <div class="single-work-text-box">
        <div class="single-work-tags">
          <div class="tag-company">
            <p>SHIFT work</p>
          </div>
          <div class="tag-hashtags">
            <p class="work-year">#2018</p>
            <p class="work-company">#SHIFT</p>
            <p class="work-profile">#LeoSa</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="single-work-title"> 
          <p><%= f.text_area :title, placeholder: "文章標題", class: "border-0 link-no-decoration w-100 mb-0 p-0", id: "article_title", rows: 1 %></p>
        </div>
        <div class="single-work-number">
          <p>13</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider bg-black"></div>
        <div class="single-work-text">
      		<%= f.fields_for :contents, @post.contents.order(ordering: :asc) do |content_form| %>
            <%= render "admin/contents/form", content_form: content_form %>
      		<% end %>
        </div>
      </div>
  	</div>
  </div>
  <div class="mt-5" id="post_buttons_wrapper">
    <%= render "cke_toolbar_template" %>
    <%= render "embed_button_template" %>
    <a href="javascript:void(0)" class="text-success link-no-decoration" id="add_new_block_btn" data-toggle="modal" data-target="#newElementModal" style="font-size: 60px">+</a>
    <%= f.button class: "btn btn-primary" do %>
      <i class="material-icons">&#xE161;</i>
    <% end %>
    <%= link_to admin_posts_path, class: "btn btn-warning", id: "btn-back", data: { confirm: "您的變更將不會儲存？" } do %>
      <i class="material-icons">&#xE5C9;</i>
    <% end %>
  </div>
<% end %>

<%= render "edit_helpers" %>