<!-- <div id="loader-wrapper" class="d-flex align-items-center justify-content-center">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div> -->
<%= form_with(model: [:admin, @post], local: true, class: "mb-5") do |f| %>
	<div class="row" id="form_content">
    <div class="col-md-12">
      <%= f.text_area :title, placeholder: "文章標題", class: "border-0 link-no-decoration w-100 mb-0 p-0 h1", id: "article_title", rows: 1 %>
    </div>
		<%= f.fields_for :contents, @post.contents.order(ordering: :asc) do |content_form| %>
      <% if content_form.object.embed? %>
        <div class="content_wrapper <%= content_form.object.embed_html_klass %>" id="wrapper_<%= content_form.index %>">
					<%= raw content_form.object.html %>
          <%= content_form.text_area :html, class: "d-none" %>
        </div>
			<% else %>
        <div class="content_wrapper <%= content_form.object.conditional_klass %>" id="wrapper_<%= content_form.index %>">
					<%= content_form.text_area :html, class: "editor" %>
        </div>
			<% end %>
			<%= content_form.text_field :ordering %>
      <%= content_form.text_field :wrapper_klass, value: content_form.object.conditional_klass %>
	    <%= content_form.check_box :_destroy %>
		<% end %>
	</div>
	<div class="text-center my-5">
    <%= render "cke_toolbar_template" %>
    <%= render "embed_button_template" %>
    <a href="javascript:void(0)" class="text-success link-no-decoration" id="add_new_block_btn" data-toggle="modal" data-target="#newElementModal" style="font-size: 60px">+</a>
  </div>
  <div class="clearfix"/>
  <%= link_to "放棄", admin_posts_path, class: "btn btn-link text-danger" %>
  <%= f.submit "儲存", class: "btn btn-primary float-right" %>
<% end %>


<!-- newElementModal -->
<div class="modal fade" id="newElementModal" tabindex="-1" role="dialog" aria-labelledby="newElementModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newElementModalLabel">選擇一種內容</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
				  <a href="javascript:void(0)" class="list-group-item list-group-item-action" id="add_new_text_area" data-dismiss="modal">一段可自由編輯的文字</a>
				  <a href="javascript:void(0)" class="list-group-item list-group-item-action" data-dismiss="modal" data-toggle="modal" data-target="#EmbedModal">透過網址嵌入內容</a>
				  <a href="javascript:void(0)" class="list-group-item list-group-item-action" data-dismiss="modal" data-toggle="modal" data-target="#uploadImgModal">上傳圖片</a>
				</div>
      </div>
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary float-right">繼續</button>
      </div>
    </div>
  </div>
</div>

<!-- EmbedModal -->
<div class="modal fade" id="EmbedModal" tabindex="-1" role="dialog" aria-labelledby="EmbedModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EmbedModalLabel">貼上要嵌入的網址</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<input type="text" class="w-100 form-control" placeholder="目前支援 YouTube、Instagram、Facebook、Vimeo" autofocus="true" id="embedURL">
      	<small id="embedLinkHelpBlock" class="form-text text-muted">
				  嵌入網址範例：https://www.youtube.com/watch?v=k2qgadSvNyU
				</small>
      </div>
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary float-right" id="get_embed_html">嵌入</button>
      </div>
    </div>
  </div>
</div>

<!-- uploadImgModal -->
<div class="modal fade" id="uploadImgModal" tabindex="-1" role="dialog" aria-labelledby="uploadImgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadImgModalLabel">選擇要上傳的圖片</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<input type="file" multiple="true">
      </div>
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary float-right">上傳</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.content_embed_klass = "<%= Content.new.embed_html_klass %>"
  window.instagram_content_embed_klass = "<%= Content.new.embed_html_klass('instagram') %>"
  window.content_default_wrapper_klass = "<%= Content.default_wrapper_klass %>"
  window.responsive_wrapper_klass = "md"
  window.nested_attribute_name_prefix = "post[contents_attributes]"
  window.nested_attribute_id_prefix = "post_contents_attributes"
  window.form_content_id = "form_content"
  window.add_new_block_btn_id = "add_new_block_btn"
</script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>