<%= link_to admin_users_path, class: "btn btn-link" do %>
  &#8592; 返回列表
<% end %>
<%= link_to "編輯", edit_admin_user_path(@user), class: "btn btn-success float-right" %>
<%= link_to '刪除', [:admin, @user], method: :delete, data: { confirm: '確認刪除？' }, class: "btn btn-danger float-right mr-2" %>

<h1 class="h2">個人設定</h1>

<div class="list-group list-group-flush">
  <li href="#" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= User.human_attribute_name("name") %></h5>
    </div>
    <p class="mb-1" style="font-size: 18px;"><%= @user.name.present? ? @user.name : "不顯示" %></p>
  </li>

  <li href="#" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= User.human_attribute_name("password") %></h5>
    </div>
    <p class="mb-1">*********</p>
  </li>
</div>