<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shift Studio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Shift Studio">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= @work.present? ? @work.title : 'Shift Studio' %>">
    <meta property="og:url" content="<%= @work.present? ? request.original_url : '' %>">
    <meta property="og:image" content="<%= @work.present? && @work.cover.attached? ? root_url[0..-2] + url_for(@work.og_image) : root_url[0..-2] + asset_path('error.png') %>">
    <meta property="og:description" content="<%= @work.present? ? @work.outline : 'Innovation, Stability, Integration, Young Influence' %>"><meta name="apple-mobile-web-app-title" content="Shift Studio">
    <meta name="application-name" content="Shift Studio">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" sizes="16x16" href="<%= asset_url('favicon-16x16.png') %>">
    <link rel="icon" sizes="32x32" href="<%= asset_url('favicon-32x32.png') %>">
    <link rel="icon" sizes="192x192" href="<%= asset_url('android-chrome-192x192.png') %>">
    <link rel="icon" sizes="256x256" href="<%= asset_url('android-chrome-256x256.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('apple-touch-icon.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('apple-touch-icon.png') %>">
    <link rel="msapplication-TileImage" sizes="150x150" href="<%= asset_url('mstile-150x150.png') %>">
    <link rel="mask-icon" href="<%= asset_url('safari-pinned-tab.svg') %>">
    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <%= javascript_include_tag 'application', media: 'all' %>
    <script data-align="right" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#4b7cb7" data-apps="JTdCJTIybGluZSUyMjolMjJqYW5jeTEyMTUlMjIsJTIyZmFjZWJvb2slMjI6JTIyNTM5Mzc3OTA2MTI3MjcwJTIyLCUyMmVtYWlsJTIyOiUyMnNoaWZ0c3R1ZGlvY29AZ21haWwuY29tJTIyJTdE"></script>
    <!-- <link rel="stylesheet" href="https://use.typekit.net/eff8rai.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body id="barba-wrapper">
    <%= render "common/header" %>
    <%= yield %>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script async defer src="//www.instagram.com/embed.js"></script>
  </body>
</html>
