<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shift Studio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Shift Studio">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Shift Studio">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="Shift Studio">
    <meta name="application-name" content="Shift Studio">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <%= javascript_include_tag 'application', media: 'all' %>
    <!-- <link rel="stylesheet" href="https://use.typekit.net/eff8rai.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body id="barba-wrapper">
    <%= render "common/header" %>
    <%= yield %>
  </body>
</html>
